
.gallery-main-flex {
    display: flex;
    flex-wrap: wrap;
}

.gallery-main-flex > * {
    flex: 1;
}

body {
	background: linear-gradient(-45deg, #da7070,#3542b4, #7ead41, #c00f3b),
  url(./assets/daniil-silantev-PXU__WOzmZU-unsplash.jpg);
  filter: contrast(100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


